* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

main {
  min-width: 280px;
}

.breadcrumb{
  display: none;
}

.products-filters {
    display: flex;
    flex-direction: column;
}

.all-products {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin: 20px auto;
  font-weight: 500;
  order: 2;
}

.main-page {
  display: flex;
}


@media screen and (min-width: 375px) {

  main {
    margin: 15px;
  }
  
  .all-products {
    font-size: 40px;
    order: -1;
  }

  .breadcrumb{
    display: block;
  }

  .breadcrumb li{
    display:flex;
    margin-left: 10px;
    font-size: 12px;
    align-items: baseline;
    text-transform: uppercase;
  }
  .breadcrumb li a {
      color: #A0A2A3;
      text-decoration: none;
      height: 24px;
      line-height: 24px;
      width: 25%;
  }

  .breadcrumb li a span {
  margin-left: 10px;
        font-weight: normal;
  }
}